<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.orbital.foodkakis">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodKakis"
        tools:targetApi="31">
        <activity
            android:name=".FnbActivity"
            android:exported="false" />
        <activity
            android:name=".MatchesActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".DescribeYourselfActivity"
            android:exported="false" />
        <activity
            android:name=".TellUsBdayActivity"
            android:exported="false" />
        <activity
            android:name=".WhatGenderActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".TellUsNameActivity"
            android:exported="false" />
        <activity
            android:name=".ForgetActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".SignInActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>